In [1]:
import pandas as pd

In [2]:
df_news = pd.read_csv("Reuters_news.csv")

In [4]:
df_news.head(5)

,Id,Date,Title,Content
0,Id,Date,Title,Content
1,USKBN2J805V,\n1:26am EST\n,\n\t\t\t\t\t\t\t\tTesla's Musk exercises all o...,NaN
2,USKBN2J809S,\n1:07am EST\n,\n\t\t\t\t\t\t\t\tTory Burch's Muratore on tec...,NaN
3,USKBN2J71BI,\n1:02am EST\n,"\n\t\t\t\t\t\t\t\tDelta, Alaska cancel hundred...",NaN
4,USKBN2J80A6,\n12:52am EST\n,\n\t\t\t\t\t\t\t\tChina's Didi plans Hong Kong...,Reporting by Julie Zhu in Hong Kong and Zhang ...

In [11]:
d = df_news.loc[4].to_dict()

In [13]:
d

{'Id': 'USKBN2J80A6',
 'Date': '\n12:52am EST\n',
 'Title': "\n\t\t\t\t\t\t\t\tChina's Didi plans Hong Kong 'listing by introduction', picks banks - sources",
 'Content': 'Reporting by Julie Zhu in Hong Kong and Zhang Yan in Shanghai; Additional reporting by Sophie Yu, Selena Li and Scott Murdoch; Editing by Sumeet Chatterjee and Kenneth MaxwellOur Standards: The Thomson Reuters Trust Principles.'}